.genome-browser canvas {
    width: 100%;
    height: 600px;
    cursor: pointer;

    -webkit-box-shadow: 0px 2px 6px 0px rgba(156,156,156,1);
    -moz-box-shadow: 0px 2px 6px 0px rgba(156,156,156,1);
    box-shadow: 0px 2px 6px 0px rgba(156,156,156,1);
}

.table {
    background-color: #f0f0f0;
    margin-top: 10px;
}

input[type=text].form-control, input[type=number].form-control, select.form-control {
  -webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
  vertical-align: middle;
  height: 30px;
}

select[multiple].form-control {
  height: auto;
}

.multiSelect > button {
  min-height: 30px !important;
}

.multiSelect .buttonLabel {
  padding: 1px 0 1px 4px;
}

.btn {
  -webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
  padding-bottom: 4px;
  padding-top: 4px;
}

.btn-primary {
  background-color: #2392f1;
  border-color: #2392f1;
}

.canvas-wrapper {
    width: 100%;
    padding: 10px 0;
    margin-top: 16px;
    display: block;
    background-color: white;
}

.filter-block-wrapper {
  width: 600px;
  float: none;
}

a.nav-expander {
  background: none repeat scroll 0 0 #000000;
  color: #FFFFFF;
  display: block;
  font-size: 15px;
  font-weight: 400;
  height: 40px;
  margin-right: 0;
  padding: 10px 15px;
  text-align: right;
  position: absolute;
  right: 0;
  text-decoration: none;
  text-transform: uppercase;
  top: 0;
  transition: right 0.3s ease-in-out 0s;
  width: 100px;
  z-index: 12;
 
  transition: right 0.3s ease-in-out 0s;
  -webkit-transition: right 0.3s ease-in-out 0s;
  -moz-transition: right 0.3s ease-in-out 0s;
  -o-transition: right 0.3s ease-in-out 0s;
}
 
a.nav-expander:hover {
  cursor: pointer;
}
 
a.nav-expander.fixed {
  position: fixed;
}
 
.nav-expanded a.nav-expander.fixed {
    right: 300px;
}

.navbar-brand {
  height: 40px;
  padding: 10px 5px;
}

.navbar-fixed-top {
  min-height: 40px;
}

.genome-nav {
  right: 130px;
  width: 100%;
  top: 0;
  position: absolute;
  text-align: right;
  color: #f0f0f0;
  padding-top: 6px;
}

.genome-nav .form-control {
  display: inline-block;
  width: auto;
}

.genome-nav .multiselect {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.nav-delimeter {
  border-right: 2px dotted #dadada; 
    height: 30px;
    vertical-align: middle;
    margin: 0 10px;
    display: inline-block;
}

nav {
  background: #2d2f33;
  display: block;
  height: 100%;
  overflow: auto;
  position: fixed;
  right: -300px;
  font-size: 15px;
  top: 0;
  width: 300px;
  z-index: 2000;
 
  transition: right 0.3s ease-in-out 0s;
  -webkit-transition: right 0.3s ease-in-out 0s;
  -moz-transition: right 0.3s ease-in-out 0s;
  -o-transition: right 0.3s ease-in-out 0s;
 
}
.nav-expanded nav {
  right: 0;
}
 
.nav-body {
    color: #cacaca;
    padding-left: 15px;
}

.browser-container.nav-expanded {
  margin-left: 0em;
  transition: right 0.4s ease-in-out 0s;
  -webkit-transition: right 0.4s ease-in-out 0s;
  -moz-transition: right 0.4s ease-in-out 0s;
  -o-transition: right 0.4s ease-in-out 0s;
}
 
#nav-close {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 18px;
  padding-right: 10px;
}

.main-menu {
  padding-top: 10px;
}

.main-menu li {
  border-bottom: 1px solid #323949;
  margin-left: 5px;
  font-size: 14px;
  padding: 7px;
}

.main-menu li a {
  color: #cacaca;
  text-decoration: none;
}

.main-menu li a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.main-menu li .sub-nav {
  border-bottom: 0px;
  padding: 4px;
}

.main-menu a .caret {
	width: 0;
	height: 0;
	display: inline-block;
	vertical-align: top;
	border-top: 4px solid #cacaca;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
    margin-top: 8px;
}

.main-menu a:hover .caret {
	border-top-color: #cacaca;
}

.main-menu li.open > a > .caret {
	border-top: none;
	border-bottom: 4px solid #cacaca;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

.main-menu li.open > a:hover > .caret {
	border-bottom-color: #cacaca;
}

.icon:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  content: '\f105';
}

.main-menu li > a > span.icon {
  float: right;
  margin: 0.1em 1.7em -0.1em 0;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

}

.main-menu li > a:hover > span.icon {
  float: right;
  margin: 0.1em 0.8em -0.1em 0;
  opacity: 1;
}

.selected-attributes {
  font-size: 10px;
  white-space: pre-line;
  word-wrap: break-word;
  display: block;
}

.layer-item {
    line-height: 33px;
    height: 33px;
    vertical-align: middle;
}

.load-source-wrapper {
  padding: 10px 0;
}

#filter-list {
  position: relative;
  padding-top: 15px;
}

.filter-block {
  padding: 10px;
  padding-top: 25px;
  margin-bottom: 0;
  border-top: 1px solid #dadada;
}


.filter-block.disabled {
  background-color: #f0f0f0;
}

div.selectable, li.selectable {
  background-color: #666;
  cursor: pointer;
}

div.selectable:hover, div.selected, li.selectable:hover, li.selected {
  background-color: #2392f1;
  color: #FFFFFF;
}

.rzslider .rz-pointer {
  top: -7px;
  z-index: 3;
  width: 16px;
  height: 16px;
  cursor: pointer;
  background-color: #2392f1;
  border-radius: 8px;
}

.rzslider .rz-pointer:after {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 4px;
  height:4px;
  background: #ffffff;
  border-radius: 2px;
  content: '';
}

.disable-filter-block input[type="checkbox"] {
    display:none;
}

.disable-filter-block {
  display: block;
  width: 60px;
  height: 20px;
  float: right;
  cursor: pointer;
	background: #fafafa;
	margin: 0 auto;
  z-index: 1500;

	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
  position: absolute;
  top: 10px;
  right: 20px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.disable-filter-block:after {
	content: 'ON';
	font: 10px/22px Arial, sans-serif;
	color: #333;
	position: absolute;
	right: 7px;
	z-index: 0;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}

.disable-filter-block:before {
	content: 'OFF';
  font: 10px/22px Arial, sans-serif;
	color: #2392f1;
	position: absolute;
	left: 7px;
	z-index: 0;
	font-weight: bold;
}

.disable-filter-block > span {
	display: block;
  width: 25px;
  height: 14px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	
	position: absolute;
	top: 2px;
	left: 2px;
	z-index: 1;

	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	background: #2392f1;
}

.disable-filter-block input[type=checkbox]:checked + span {
	left: 32px;
}
.squared-checkbox input[type=checkbox] {
  display: none;
}

.disable-status {
	font: 10px/16px Arial, sans-serif;
	color: #333;
	position: absolute;
  text-align: right;
	right: 43px;
	z-index: 0;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}

.squared-checkbox {
	width: 20px;
	height: 20px;
  padding: 0;
	background: #fcfff4;
  margin: 0;
  margin-left: 15px;
	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	position: relative;
}

.squared-checkbox label {
	cursor: pointer;
	position: absolute;
	width: 14px;
	height: 14px;
	left: 3px;
	top: 3px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.squared-checkbox label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	background: #2392f1;

	top: 2px;
	left: 2px;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}

.squared-checkbox label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.squared-checkbox input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

.squared-checkbox label > span {
  margin-left: 25px;
  margin-top: -10px;
  line-height: 20px;
  vertical-align: middle;
  display: inline-block;
}

.logic-btn-and {
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 92% 3px;
  padding-right: 25px;
  background-image: url(../images/logic_AND.png);
}

.logic-btn-or {
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 92% 3px;
  padding-right: 25px;
  background-image: url(../images/logic_OR.png);
}

.logic-btn-xor {
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 92% 3px;
  padding-right: 25px;
  background-image: url(../images/logic_XOR.png);
}

#tracks_tree_svg {
  padding-top: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

.dropdown-menu-btn {
  display: none;
}

.menu-block .form-control {
  max-width: 200px;
}

@media (max-width: 1550px) {
  .collapsable {
    display: none;
  }
  .dropdown-menu-btn {
    display: inline-block;
  }
  .show-as-menu {
    text-align: left;
    padding: 10px;
    padding-bottom: 0;
    display: block;
    position: absolute;
    width: 300px;
    right: -3rem;
    background-color:#222;
  }
  .show-as-menu .nav-delimeter {
    display: none;
  }
  
  .show-as-menu input.form-control, .show-as-menu .btn, .show-as-menu select.form-control {
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }

  .show-as-menu .menu-block {
    display: block;
  }
}

@media (max-width: 950px) {
  label.long-collapsable-label {
    display: none;
  }
}

#hop-to-coordinate-form {
  display: inline-block;
}

.nav.nav-tabs.main-menu {
  border-bottom: none;
}

.filter-btns-block {
  overflow: auto;
}

.track-opts {
  text-align: right;
}

.danger {
  color: firebrick;
}

.pointer {
  cursor: pointer;
}

.ctx {
  padding: 5px 5px;
  border-radius: 10px;
}

.ctx-and {
  background-color: lightblue;
}

.ctx-or {
  background-color: mediumaquamarine;
}

.ctx-xor {
  background-color: lightyellow;
}

.track-filtration-body {
  position: relative;
  height: 600px;
  padding: 0 0;
  user-select: none;
}

.query-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 598px;
  padding: 8px 8px;
}

.attribute-details {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 598px;
  padding: 8px 8px;
  border-top: 1px solid lightgray;
}

.attribute-details > .form-group:last-child {
  margin-bottom: 0;
}

.attribute-details textarea {
  resize: none;
}

.btn-add {
  margin-bottom: 8px;
  text-align: center;
  width: 100%;
}

.attribute-filter-drag-entity {
  cursor: move;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  background-color: burlywood;
  margin-bottom: 8px;
  border-radius: 5px;
}

.attribute-table-container {
  display: inline-block;
  width: 300px;
  height: 600px;
  overflow-y: auto;
}

.attribute-table {
  margin: 0 0;
  width: 100%;
  background-color: white;
}

.attribute-opt {
  cursor: pointer;
}

td.attribute-type {
  text-align: right;
}

.empty-filter {
  text-align: center;
  color: grey;
  font-size: 44px;
  padding: 30px 0;
  cursor: default;
}

filter-query {
  cursor: pointer;
}

.filter-query-content > attribute-filter-card:first-child > .filter-aggregation-operator {
  display: none;
}

filter-query > .filter-query-content > filter-query:first-child > .filter-aggregation-operator {
  display: none;
}

.filter-query-content > .filter-container:first-child > attribute-filter-operator {
  display: none;
}

.add-entity-btn {
  text-align: center;
  cursor: pointer;
  font-size: 22px;
  color: white;
  background-color: darksalmon;
  padding: 5px 0;
}

.add-entity-btn:hover {
  background-color: sandybrown;;
}

.ctx-name {
  padding: 5px 5px;
  color: grey;
  font-size: 20px;
  cursor: default;
}

.attribute-filter-card {
  display: inline-block;
}

.attribute-filter-card::after {
  content: "";
  display: table;
  clear: both;
}

.attribute-filter-card-title {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  padding: 5px 0;
  background-color: cadetblue
}

.attribute-filter-card-body {
  width: 100%;
  min-width: 200px;
}

.attribute-filter-card-body td {
  background-color: lightseagreen;
}

.draggable {
  cursor: move;
}

.filter-query-content {
  display: inline-block;
  border: 1px dotted lightslategrey;
}

attribute-filter-card {
  display: inline-block;
  padding-right: 5px;
}

.filter-query-content .filter-query-content {
  margin-top: 5px;
}

.filter-query-content::after {
  content: "";
  display: table;
  clear: both;
}
