<!DOCTYPE html>
<html ng-app='ghop-ui'>
<head>
    <meta charset='utf-8'>
    <title>Parseq Concentrate web-client</title>
    <link rel='shortcut icon' href='favicon.ico' type='image/x-icon'>
    <link type="text/css" rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="bower_components/angular-multi-select/isteven-multi-select.css">
    <link rel="stylesheet" type="text/css" href="bower_components/angularjs-slider/dist/rzslider.min.css"/>
    <link type="text/css" rel="stylesheet" href="css/styles.css">
</head>
<body ng-controller='MainController'>
    <div class="genome-browser">
        <div class="browser-container" ng-class="{'nav-expanded' : navOpen}">
            <nav>
                <div class="nav-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs main-menu">
                        <li class="active"><a href="#current" id="current-view-tab" data-toggle="tab">Current</a></li>
                        <li class="pull-right text-right" >
                            <a href="#" id="nav-close" ng-click="toggleNav()">X</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="current">
                            <div class="filter-btns-block col-md-12">
                                <button class="btn btn-default btn-xs" ng-disabled="lockBtns" ng-click="relationService.startSelection('AND')">AND</button>
                                <button class="btn btn-default btn-xs" ng-disabled="lockBtns" ng-click="relationService.startSelection('OR')">OR</button>
                                <button class="btn btn-default btn-xs" ng-disabled="lockBtns" ng-click="relationService.startSelection('XOR')">XOR</button>
                                <button class="btn btn-default btn-xs" ng-disabled="lockBtns" ng-click="relationService.defaultRelations()">Clear</button>
                            </div>
                            <div class="tracks-list row">
                                <div>
                                    <div class="only-tracks">
                                        <ul class="list-unstyled main-menu" ui-sortable="sortableOptions" ng-model="selectedTracks">
                                            <li ng-repeat="track in selectedTracks"
                                                ng-style="track.style"
                                                ng-mouseover="relationService.setHighlight(track)"
                                                ng-click="relationService.addToSelection(track, selectedTracks, updateStriper, onAddRelationCallback)" 
                                                ng-class="{selectable:relationService.isHighlighted(track), selected:relationService.checkInRelation(track)}"
                                                id="track_{{track.track}}">
                                                <span ng-bind="track.track"></span>
                                                <button ng-click="openFiltersModal(track.track)" 
                                                        class="btn btn-xs btn-default pull-right">Filters</button>
                                                
                                                <div class="selected-attributes" ng-bind="getSelectedFilters(track)"></div>
                                            </li>
                                        </ul>
                                    </div>
                                    <svg id="tracks_tree_svg" 
                                        xmlns="http://www.w3.org/2000/svg" 
                                        width="0"
                                        height="0">
                                        <defs>
                                            <marker id="arrowhead" viewBox="0 0 10 10" refX="3" refY="5"
                                                markerWidth="4" markerHeight="4" orient="180">
                                            <path d="M 0 0 L 10 5 L 0 10 z" />
                                            </marker>
                                        </defs>
                                        <g fill="none" stroke="#f0f0f0" width="100%" stroke-width="2" id="tracks_tree">
                                        </g>
                                        <g fill="none" stroke="f0f0f0" width="100%" id="tracks_images">
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="navbar navbar-inverse navbar-fixed-top">      
                    
                <!--Include your brand here-->
                <a class="navbar-brand" href="#">CONC.</a>
                <div class="navbar-header genome-nav">
                    <label class="long-collapsable-label" title="Check data sources to fetch bands from">Check data sources:</label>
                    <div isteven-multi-select 
                        class="multiselect"
                            input-model="tracks"
                            output-model="selectedTracks"
                            item-label="track" 
                            max-labels="2"
                            button-label="track"
                            on-close="onSelectTracks()"
                            tick-property="ticked">
                    </div>
                    <div class="btn btn-warning load-source-btn" ng-click="openTrackCreationModal()">add</div>

                    <div class="btn btn-default load-source-btn" ng-click="openTracksEditionModal()">edit list</div>
                    
                    <span class="collapsable" ng-class="{'show-as-menu':showMenuPanel}">
                        <span class="nav-delimeter"></span>

                        <span class="menu-block">
                            <label>Reference:</label>
                            <span ng-bind="genome" id="genome"></span>
                        </span>
                        <span class="nav-delimeter"></span>
                        <span class="menu-block">
                            <form id="hop-to-coordinate-form" name="hopToCoordinate">
                                <label>Coordinate:</label>
                                <select id="contig"
                                        name="contig"
                                        class="form-control"
                                        ng-model="contig"
                                        ng-disabled="positionInputDisabled()" 
                                        ng-options="contig for contig in contigsMapping[genome]"
                                        required 
                                        ng-disabled="!genome"></select>
                                <input  type="text"
                                        name="coord"
                                        ng-disabled="positionInputDisabled()" 
                                        class="form-control"
                                        ng-model="coord"
                                        ng-value="striper.coord.coord"
                                        ng-enter="updateStriper()" />
                                <div class="btn btn-primary" 
                                    ng-click="updateStriper()"
                                    ng-disabled="positionInputDisabled()">hop!</div>
                            </form>
                        </span>
                    </span>
                    <span class="btn btn-primary dropdown-menu-btn" ng-click="toggleMenuPanel()">more...</span>
                </div>
                <div class="navbar-header pull-right">
                    <a id="nav-expander" class="nav-expander fixed" ng-click="toggleNav()">
                    Filters
                    </a>
                </div>
            </div>

            <div class="canvas-wrapper">
                <canvas></canvas>
                <div class="container">
                    <div class="row" ng-show="selectedObject.track !== undefined">
                        <div class="col-md-4">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th colspan="2">Main params</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Track:</td>
                                        <td><span ng-bind="selectedObject.track"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Start:</td>
                                        <td><span ng-bind="selectedObject.properties.startCoord.contig.id"></span> - <span ng-bind="selectedObject.properties.startCoord.coord"></span></td>
                                    </tr>
                                    <tr>
                                        <td>End: </td>
                                        <td><span ng-bind="selectedObject.properties.endCoord.contig.id"></span> - <span ng-bind="selectedObject.properties.endCoord.coord"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-4">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th colspan="2">Attributes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="(attributeName, attributeValue) in selectedObject.properties" 
                                        ng-if="attributeName !== 'startCoord' && attributeName !== 'endCoord'">
                                        <td><span ng-bind="attributeName"></span></td>
                                        <td><span ng-bind="attributeValue"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src='bower_components/jquery/dist/jquery.min.js'></script>
    <script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="bower_components/babel-polyfill/browser-polyfill.js"></script>
    <script src='bower_components/bootstrap/dist/js/bootstrap.min.js'></script>

    <script src='bower_components/angular/angular.min.js'></script>
    <script src='bower_components/angular-resource/angular-resource.min.js'></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src='bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js'></script>
    <script src='bower_components/angular-multi-select/isteven-multi-select.js'></script>
    <script src='bower_components/EaselJS/lib/easeljs-0.8.2.combined.js'></script>
    <script src="bower_components/angular-ui-sortable/sortable.min.js"></script>
    <script src="bower_components/angularjs-slider/dist/rzslider.min.js"></script>
    <script src="bower_components/angular-clipboard/angular-clipboard.js"></script>

    <!-- Angular application script -->
    <script src='build/es2015/build/app.js'></script>
</body>
</html>