<!DOCTYPE html>
<html ng-app='ghop-ui'>
<head>
    <meta charset='utf-8'>
    <title>Parseq gHop web-client</title>
    <link rel='shortcut icon' href='favicon.ico' type='image/x-icon'>
    <link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.min.css'>
</head>
<body ng-controller='MainController'>
    <div class='container'>
        <form>
            <div class='form-group'>
                <input type='submit' class='btn btn-warning form-control' ng-click='openTrackCreationModal()' value='Add new track'>
            </div>
        </form>
    </div>
    <div class='container'>
        <form name='striperCreation'>
            <label>Check data sources to fetch bands from</label>
            <div class='form-group' ng-repeat='dataSource in dataSources'>
                <input type='checkbox' ng-model='dataSource.checked'> {{ dataSource }}
            </div>
            <div class='form-group'>
                <label>Choose reference genome</label>
                <select id='genome' name='genome' class='form-control' ng-model='genome' ng-options='genome for genome in referenceGenomeIds' required></select>
            </div>
            <div class='form-group'>
                <label>Choose contig</label>
                <select id='contig' name='contig' class='form-control' ng-model='contig' ng-options='contig for contig in contigsMapping[genome]' required ng-disabled='!genome'></select>
            </div>
            <div class='form-group'>
                <label>Enter coordinate</label>
                <input id='coord' name='coord' type='number' class='form-control' ng-model='coord' required>
            </div>
            <div class='form-group'>
                <label>Specify left borders count</label>
                <input id='left' name='left' type='number' class='form-control' ng-model='left' required>
            </div>
            <div class='form-group'>
                <label>Specify right borders count</label>
                <input id='right' name='right' type='number' class='form-control' ng-model='right' required>
            </div>
            <div class='form-group'>
                <input type='submit' class='btn btn-primary form-control' ng-click='createStriper()' value='Create striper instance' ng-disabled='!striperCreation.$valid'>
            </div>
        </form>
    </div>
    <div class='container' ng-if='stripes'>
        <div ng-bind='stripes'></div>
        <div>
            <button class='col-xs-2 btn btn-default' ng-click='leftTrivialHop()'><</button>
            <button class='col-xs-2 btn btn-default pull-right' ng-click='rightTrivialHop()'>></button>
        </div>
    </div>

    <script src='bower_components/jquery/dist/jquery.min.js'></script>
    <script src='bower_components/bootstrap/dist/js/bootstrap.min.js'></script>

    <script src='bower_components/angular/angular.min.js'></script>
    <script src='bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js'></script>
    <script src='bower_components/angular-resource/angular-resource.min.js'></script>

    <!-- Angular application script -->
    <script src='js/app.js'></script>
    <!-- Constants -->
    <script src='js/constants/aggregate-operators.js'></script>
    <script src='js/constants/binary-search.js'></script>
    <script src='js/constants/filter-operators.js'></script>
    <script src='js/constants/hateoas-utils.js'></script>
    <!-- Controllers -->
    <script src='js/controllers/main.js'></script>
    <script src='js/controllers/track-creation.js'></script>
    <!-- Resources -->
    <script src='js/resources/attribute.js'></script>
    <script src='js/resources/attributes.js'></script>
    <script src='js/resources/bands.js'></script>
    <script src='js/resources/contigs.js'></script>
    <script src='js/resources/data-source.js'></script>
    <script src='js/resources/data-sources.js'></script>
    <script src='js/resources/reference-genomes.js'></script>
    <script src='js/resources/track.js'></script>
    <script src='js/resources/track-attributes.js'></script>
    <script src='js/resources/track-data-source.js'></script>
    <script src='js/resources/track-filters.js'></script>
    <script src='js/resources/tracks.js'></script>
    <!-- Providers -->
    <script src='js/providers/genetics.js'></script>
    <!-- Services -->
    <script src='js/services/async.js'></script>
    <script src='js/services/attributes.js'></script>
    <script src='js/services/bander.js'></script>
    <script src='js/services/data-sources.js'></script>
    <script src='js/services/filters.js'></script>
    <script src='js/services/genomic-coordinate-comparators.js'></script>
    <script src='js/services/reference-genomes.js'></script>
    <script src='js/services/striper.js'></script>
    <script src='js/services/tracks.js'></script>
    <!-- Directives -->
    <script src='js/directives/ng-file.js'></script>
</body>
</html>