
<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Track "<span ng-bind="track.track"></span>"</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            Create a relation between filters:
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-default btn-xs logic-btn-and" ng-click="relationService.startSelection('AND')">AND</button>
            <button class="btn btn-default btn-xs logic-btn-or" ng-click="relationService.startSelection('OR')">OR</button>
            <button class="btn btn-default btn-xs logic-btn-xor" ng-click="relationService.startSelection('XOR')">XOR</button>
            <button class="btn btn-default btn-xs" ng-click="relationService.defaultRelations()" style="margin-left: 20px">Clear</button>
        </div>
    </div>
    <div class="row" id="filter-list">
        <div class="col-md-12 filter-block-wrapper" 
             ng-repeat="filter in track.attributes track by $index" id="filter_{{filter.id}}">
            
            <span ng-if="filter.type === 'STRING' || filter.type === 'INTEGER'">
                <div class="filter-block" 
                     ng-click="relationService.addToSelection(filter, track.attributes, undefined, onAddRelationCallback)" 
                     ng-style="filter.style" 
                     ng-mouseover="relationService.setHighlight(filter)"
                     ng-class="{selectable:relationService.isHighlighted(filter), selected:relationService.checkInRelation(filter), disabled:filter.disabled}">
                    <div class="row">
                        <label class="col-md-12 disable-filter-block">
                            <input type="checkbox" ng-model="filter.disabled" title="disable filter" />
                            <span></span>
                        </label>
                        <div class="col-md-4" style="padding-right: 0">
                            <label>operation</label>
                            <select ng-options="op for op in filter.filterOperators"
                                    ng-disabled="filter.disabled" 
                                    ng-model="filter.filterOperator" 
                                    class="form-control">
                            </select>
                        </div>
                        <div class="col-md-7">
                            <label ng-bind="filter.name"></label>
                            <input type="text" ng-disabled="filter.disabled" ng-model="filter.value" class="form-control" />
                        </div>
                    </div>
                </div>
            </span>
            <span ng-if="filter.type === 'BOOLEAN'">
                <div class="filter-block" 
                     ng-click="relationService.addToSelection(filter, track.attributes, undefined, onAddRelationCallback)" 
                     ng-mouseover="relationService.setHighlight(filter)"
                     ng-style="filter.style" 
                     ng-class="{selectable:relationService.isHighlighted(filter), selected:relationService.checkInRelation(filter), disabled:filter.disabled}">
                    <div class="row">
                        <label class="col-md-12 disable-filter-block">
                            <input type="checkbox" ng-model="filter.disabled" title="disable filter" />
                            <span></span>
                        </label>
                        <div class="col-md-12 squared-checkbox">
                            <input type="checkbox" ng-disabled="filter.disabled" id="{{layer.name + '_' + filter.name}}" ng-model="filter.value" />
                            <label for="{{layer.name + '_' + filter.name}}">
                                <span ng-bind="filter.name" ></span>
                            </label>
                        </div>
                    </div>
                </div>
            </span>
            <span ng-if="filter.type === 'FLOAT'">
                <div class="filter-block" 
                     ng-click="relationService.addToSelection(filter, track.attributes, undefined, onAddRelationCallback)" 
                     ng-style="filter.style" 
                     ng-mouseover="relationService.setHighlight(filter)"
                     ng-class="{selectable:relationService.isHighlighted(filter), selected:relationService.checkInRelation(filter), disabled:filter.disabled}">
                <div class="row">
                    <label class="col-md-12 disable-filter-block">
                        <input type="checkbox" ng-model="filter.disabled" title="disable filter" />
                        <span></span>
                    </label>
                    <div class="col-md-12">
                        <label ng-bind="filter.name"></label>
                        <div class="row">
                            <div class="col-md-1 col-md-offset-1 checkbox" style="padding-left: 0; margin-top: 4px;">
                                <label>
                                <input type="checkbox" ng-model="filter.operators[0]" ng-change="refreshSlider()" />[
                                </label>
                            </div>
                            <div class="col-md-4" style="padding-left: 0";>
                                <input type="number" 
                                       ng-disabled="filter.disabled" 
                                       ng-model="filter.from"
                                       min="{{filter.range ? filter.range.lowerBound : undefined}}"
                                       max="{{filter.to}}"
                                       class="form-control" />
                            </div>
                            <div class="col-md-4" style="padding-right: 0";>
                                <input type="number" 
                                       ng-disabled="filter.disabled" 
                                       ng-model="filter.to"
                                       min="{{filter.from}}"
                                       max="{{filter.range ? filter.range.upperBound : undefined}}"
                                       class="form-control" />
                            </div>
                            <div class="col-md-1 checkbox" style="margin: 4px; padding-right: 0; padding-left: 15px">
                                <label>
                                <input type="checkbox" ng-model="filter.operators[1]" ng-change="refreshSlider()" />]
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </span>
            <span ng-if="filter.type === 'ENUM'">
                <div class="filter-block"
                     ng-click="relationService.addToSelection(filter, track.attributes, undefined, onAddRelationCallback)"
                     ng-style="filter.style"
                     ng-mouseover="relationService.setHighlight(filter)"
                     ng-class="{selectable:relationService.isHighlighted(filter), selected:relationService.checkInRelation(filter), disabled:filter.disabled}">
                <div class="row">
                    <label class="col-md-12 disable-filter-block">
                        <input type="checkbox" ng-model="filter.disabled" title="disable filter" />
                        <span></span>
                    </label>
                    <div class="col-md-12">
                        <label ng-bind="filter.name"></label>
                        <select ng-model="filter.value" multiple ng-disabled="filter.disabled" class="form-control">
                            <option ng-repeat="val in filter.range.values" ng-value="val">{{val}}</option>
                        </select>
                    </div>
                </div>
                </div>
            </span>
        </div>

        <svg id="filters_tree_svg" xmlns="http://www.w3.org/2000/svg" width="16%" height="600">
            <defs>
                <marker id="arrowhead" viewBox="0 0 10 10" refX="3" refY="5"
                    markerWidth="4" markerHeight="4" orient="180">
                <path d="M 0 0 L 10 5 L 0 10 z" />
                </marker>
            </defs>
            <g fill="none" stroke="black" stroke-width="2" id="filters_tree">
            </g>
            <g fill="none" stroke="black" id="filters_images">
            </g>
        </svg>
    </div>
</div>
<div class="modal-footer">
    <button id="vsubmit-button" class="btn btn-primary" type="button" ng-click="save()">Apply</button>
    <button id="vclose-button" class="btn btn-default" type="button" ng-click="cancel()">Close</button>
</div>