<div class="modal-header">
    <h3 class="modal-title">Track creation</h3>
</div>
<div class="modal-body">
    <form name="trackCreation">
        <div class="form-group">
            <label for="track">Enter track name</label>
            <input id="track" type="text" name="track" class="form-control" ng-model="track" not-in-list="trackNames" required>
            <div class="alert alert-danger" ng-show="trackCreation.track.$error.notInList">Track with name <span ng-bind="track"></span> already exist!</div>
        </div>
        <label for="type">Choose file type</label>
        <div class="form-group">
            <select id="type" class="form-control" ng-model="type" ng-options="type for type in dataSourceTypes" required></select>
        </div>
        <label for="type">Choose file</label>
        <div class="form-group">
            <input id="file" type="file" class="form-control" ng-file="file" required>
        </div>
    </form>
</div>
<div class="modal-footer">
    <input type="submit" 
           class="btn btn-warning" 
           ng-click="createTrackFromFile()" 
           value="Create" 
           ng-disabled="!trackCreation.$valid">
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
</div>