<div class='modal-header'>
    <h3 class='modal-title'>Uploaded tracks</h3>
</div>
<div class='modal-body'>
    <div ng-repeat='track in tracks | orderBy : isDefaultTrack'>
        <h4>
            <label class='label label-primary' ng-hide='isDefaultTrack(track)' ng-bind='track.dataSource.type'></label>
            <label class='label label-default' ng-show='isDefaultTrack(track)'>Default</label>
            <span ng-bind='track.track'></span>
            <i class='glyphicon glyphicon-remove pull-right danger pointer'
                    tooltip-placement='left' uib-tooltip='Remove' ng-hide='isDefaultTrack(track)'
                    ng-click='removeTrack(track)'></i>
        </h4>
        <hr/>
    </div>
</div>
<div class='modal-footer'>
    <button class='btn btn-default' ng-click='cancel()'>Cancel</button>
</div>