<div class='clearfix'>
    <div class='col col-2 right-align'>
        <button type='button' class='btn btn-narrow' ng-click='trackDown()'><i class='fa fa-angle-down'></i></button>
        <button type='button' class='btn btn-narrow' ng-click='trackUp()'><i class='fa fa-angle-up'></i></button>
    </div>
    <div class='col col-8'>
        <checkbox ng-model='track.active' label='track.name'></checkbox>
    </div>
    <div class='col col-2'>
        <button type='button' class='btn btn-narrow' ng-class='filtered()' ng-click='filter()'><i class='fa fa-filter'></i></button>
        <button type='button' class='btn btn-narrow' ng-hide='track.primary' ng-click='remove()'><i class='fa fa-times red'></i></button>
    </div>
</div>